.supervisor {
    margin-bottom: 64px;
}

.supervisor-info-text {
    max-width: 635px;
    margin-right: 30px;
}

.supervisor-info-name {
    line-height: 32px;
}

.supervisor-info-grey-text {
    color: var(--text-grey);
}

.lawyers-container {
    margin-top: 40px;
    margin-bottom: 65px;
}

.lawyers-item-text {
    font-size: 24px;
}

@media (max-width: 1024px) {
    .about-us-image {
        max-width: 390px;
    }

    .lawyers-image {
        max-width: 210px;
    }
}