.blog-article {
    margin-bottom: 67px;
}

.blog-article .heading {
    line-height: 56px;
}

.blog-article .sub-heading {
    color: var(--accent-blue);
    line-height: 56px;
}

.blog-article-text {
    margin-top: 16px;
}