.blog-container {
    max-width: 635px;
}

.blog-switcher {
    margin-top: 56px;
}

.blog-switcher-button {
    background: none;
    border: none;
    color: var(--text-grey);
    line-height: 32px;
    margin-right: 35px;
}

.blog-switcher-button:not(:last-child)::after {
    content: '';
    position: absolute;
    height: 24px;
    width: 2px;
    background-color: var(--accent-blue);
    right: -22px;
    top: 50%;
    transform: translateY(-50%);
}

.blog-switcher .active {
    color: var(--text-black);
}

.blog-content-item {
    border: 1px solid var(--bg-white);
    border-radius: 4px;
    padding: 16px 24px;
}

.blog-content-item:first-child {
    margin-top: 56px;
}

.blog-content-item:hover {
    border-color: var(--accent-purple);
}

.blog-content-item:hover .blog-content-item-title {
    color: var(--accent-purple);
}

.blog-content-item .link {
    color: var(--accent-purple);
}

.blog-content-item-text {
    color: var(--text-grey);
}

.blog-pagination {
    margin-top: 40px;
    justify-content: center;
}

.blog-pagination .link {
    color: var(--text-grey);
    margin: 0 40px;
}

.blog-pagination .active {
    color: var(--accent-purple);
}

.blog-pagination-number {
    color: var(--accent-purple);
}

.current-pagination-number {
    color: var(--text-grey);
}

.pagination li a {
    color: var(--accent-purple);
    text-decoration: none;
}

.pagination li {
    margin-right: 16px;
}

.pagination .active a {
    color: var(--text-grey);
}

.pagination .disabled span {
    color: var(--text-grey);
}

.blog-image {
    width: 100%;
}

@media (max-width: 576px) {
    .blog-content-item {
        padding: 0;
        border-width: 0;
    }

    .blog-pagination .link {
        margin: 0;
    }

    .blog-pagination-number-container {
        margin: 0 30px;
    }

    .blog-image {
        max-width: 100%;
    }
}