.contacts .main-heading {
    justify-content: space-between;
}

.contacts .input-consultation-form {
    width: 100%;
}

.contacts .heading-container {
    max-width: 445px;
}

.contacts-map {
    width: 635px;
}

@media (max-width: 1024px) {
    .contacts .round-main {
        width: 430px;
        top: -140px;
    }
}

@media (max-width: 992px) {
    .contacts .input-consultation-form {
        max-width: 350px;
    }

    .contacts-image {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .contacts form {
        margin-bottom: 288px;
    }

    .contacts .heading-container {
        max-width: unset;
    }

    .contacts-map {
        width: 400px;
        height: 300px;
    }

    .contacts .round-main {
        width: 400px;
        top: unset;
    }
}

@media (max-width: 576px) {
    .contacts .main-heading {
        height: 200px;
        align-items: center;
    }

    .contacts .heading-container {
        margin-top: 200px;
        z-index: 10;
        background-color: var(--bg-grey);
        max-height: 670px;
    }

    .contacts .input-consultation-form {
        max-width: 290px;
    }

    .contacts .heading {
        line-height: 48px;
    }

    .contacts-image {
        width: 172px;
        right: unset;
    }

    .contacts .round-main {
        width: 216px;
    }

    .contacts .main-container {
        padding: 0;
    }

    .contacts .heading-container {
        padding: 0 15px;
    }

    .contacts-footer {
        margin-top: 670px;
    }

    .contacts-container {
        background-color: var(--bg-white);
    }

    .contacts-map {
        width: 100%;
        margin-top: 24px;
    }

    .contacts-social-networks {
        margin-top: 30px;
    }
}