.contacts .heading {
    line-height: 56px;
}

.contacts .input-consultation-form {
    width: 100%;
}

.contacts .heading-container {
    max-width: 445px;
}

@media (max-width: 992px) {
    .contacts .input-consultation-form {
        max-width: 350px;
    }

    .contacts-image {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .contacts form {
        margin-bottom: 288px;
    }

    .contacts .heading-container {
        max-width: unset;
    }

    .contacts-map {
        width: 400px;
        height: 300px;
    }
}