.footer .paragraph-main {
    font-size: 14px;
}

.contact-us > .paragraph-main {
    font-size: 18px;
}

.contact-us {
    width: 496px;
    margin-right: 74px;
}

.contact-us-list {
    list-style-type: none;
    max-width: 415px;
}

.contact-us-list-item {
    padding-left: 32px;
    position: relative;
}

.contact-us-list-item::before {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    left: 0;
    top: 10px;
    background-color: black;
}

.footer .main-container {
    margin-top: 64px;
}

.footer .link {
    color: #690C52;
}

.input-consultation-form {
    width: 350px;
}

.input-consultation-form label {
    display: none;
}

.input-consultation-form .form-control {
    margin-bottom: 16px;
    padding: 12px 16px;
    border: 1px solid #808080;
    border-radius: 4px;
    background-color: transparent;
}

.input-consultation-form #feedbackform-question {
    height: 100px;
    resize: none;
}

.agreement-text {
    color: #808080;
    font-size: 12px;
}