@font-face {
    font-family: "Lato-Regular";
    font-weight: 400;
    src: url("../fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: "Lato-SemiBold";
    font-weight: 600;
    src: url("../fonts/Lato-SemiBold.ttf");
}

@font-face {
    font-family: "Lato-SemiBoldItalic";
    font-weight: 600;
    src: url("../fonts/Lato-SemiBoldItalic.ttf");
}

@font-face {
    font-family: "Lato-Bold";
    font-weight: 700;
    src: url("../fonts/Lato-Bold.ttf");
}

:root {
    --accent-blue: #0B2052;
    --accent-purple: #690C52;
    --accent-hover: #570242;
    --text-black: #232323;
    --text-grey: #808080;
    --bg-grey: #ECF0FB;
    --bg-white: #FFFFFF;
    --outline-accent: #CED6EC;
}

* {
    font-family: "Lato-Regular", serif;
    font-size: 16px;
    color: var(--text-black);
}

.semi-bold-item {
    font-family: "Lato-SemiBold", serif;
}

.bold-item {
    font-family: "Lato-Bold", serif;
}

.paragraph-italic {
    font-family: "Lato-SemiBoldItalic", serif;
    font-size: 24px;
    line-height: 32px;
}

.heading {
    color: var(--accent-blue);
    font-size: 40px;
    line-height: 56px;
    padding-top: 65px;
}

.feedback-modal .heading{
    padding-top: 8px;
}

.main-container {
    max-width: 1110px;
    margin: 0 auto;
}

.paragraph-main {
    font-size: 16px;
    color: var(--text-black);
}

.paragraph-main:hover .link {
    color: var(--text-black);
}

.link-active {
    color: var(--text-black);
    text-decoration: none;
}

.paragraph-heading {
    font-size: 40px;
    color: var(--accent-blue);
}

.link {
    color: var(--text-black);
    text-decoration: none;
}

.link:hover {
    color: var(--text-black);
}

.footer-info {
    margin-top: 40px;
}

.btn-request {
    border-radius: 4px;
    padding: 12px 32px;
}

.btn-request-primary {
    border: 1px solid var(--accent-purple);
}

.btn-request-primary:hover {
    border: 1px solid var(--accent-hover);
    background-color: var(--accent-hover);
    color: var(--bg-white);
}

.btn-request-primary-outline {
    background-color: transparent;
    color: var(--text-black);
}

.btn-request-primary-fill {
    background-color: var(--accent-purple);
    color: var(--bg-white);
}

.btn-request-secondary {
    border: 1px solid var(--bg-white);
}

.btn-request-secondary:hover {
    background-color: var(--bg-white);
    color: var(--accent-blue);
}

.btn-request-secondary-outline {
    background-color: transparent;
    color: var(--bg-white);
}

.btn-request-secondary-fill {
    background-color: var(--bg-white);
    color: var(--accent-blue);
}

.main-company-description-image{
    height: 100%;
}

@media (max-width: 1024px) {
    .main-container{
        padding: 0 47px;
    }
    .main-company-description-image{
        max-width: 450px;
    }
}