@font-face {
    font-family: "Lato-Regular";
    font-weight: 400;
    src: url("../fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: "Lato-SemiBold";
    font-weight: 600;
    src: url("../fonts/Lato-SemiBold.ttf");
}

@font-face {
    font-family: "Lato-SemiBoldItalic";
    font-weight: 600;
    src: url("../fonts/Lato-SemiBoldItalic.ttf");
}

@font-face {
    font-family: "Lato-Bold";
    font-weight: 700;
    src: url("../fonts/Lato-Bold.ttf");
}

:root {
    --accent-blue: #0B2052;
    --accent-purple: #690C52;
    --accent-hover: #570242;
    --text-black: #232323;
    --text-grey: #808080;
    --bg-grey: #ECF0FB;
    --bg-white: #FFFFFF;
    --outline-accent: #CED6EC;
}

.header-xl-700 {
    font-size: 56px;
    font-family: "Lato-Bold", serif;
}

.header-l-700 {
    font-size: 40px;
    font-family: "Lato-Bold", serif;
}

.header-m-600 {
    font-size: 24px;
    font-family: "Lato-SemiBold", serif;
}

.header-m-400 {
    font-size: 24px;
    font-family: "Lato-Regular", serif;
}

.header-m-600-italic {
    font-size: 24px;
    font-family: "Lato-SemiBoldItalic", serif;
}

.subheader-xl-600 {
    font-size: 32px;
    font-family: "Lato-SemiBold", serif;
}

.body-xl-400 {
    font-size: 20px;
    font-family: "Lato-Regular", serif;
}

.body-xl-600 {
    font-size: 20px;
    font-family: "Lato-SemiBold", serif;
}

.body-l-400 {
    font-size: 18px;
    font-family: "Lato-Regular", serif;
}

.body-m-600-italic {
    font-size: 16px;
    font-family: "Lato-SemiBoldItalic", serif;
}

.body-m-400 {
    font-size: 16px;
    font-family: "Lato-Regular", serif;
}

.body-m-600 {
    font-size: 16px;
    font-family: "Lato-SemiBold", serif;
}

.body-s-400 {
    font-size: 14px;
    font-family: "Lato-Regular", serif;
}

.body-s-600 {
    font-size: 14px;
    font-family: "Lato-SemiBold", serif;
}

.caption-400 {
    font-size: 12px;
    font-family: "Lato-Regular", serif;
}

* {
    color: var(--text-black);
}

.heading {
    color: var(--accent-blue);
    line-height: 56px;
    padding-top: 65px;
}

.feedback-modal .heading {
    padding-top: 8px;
}

.main-container {
    max-width: 1110px;
    margin: 0 auto;
}

.paragraph-main {
    color: var(--text-black);
}

.paragraph-main:hover .link {
    color: var(--text-black);
}

.link-active {
    color: var(--text-black);
    text-decoration: none;
}

.paragraph-heading {
    color: var(--accent-blue);
}

.link {
    color: var(--text-black);
    text-decoration: none;
}

.link:hover {
    color: var(--text-black);
}

.footer-info {
    margin-top: 40px;
}

.btn-request {
    border-radius: 4px;
    padding: 12px 32px;
}

.btn-request-primary {
    border: 1px solid var(--accent-purple);
}

.btn-request-primary:hover {
    border: 1px solid var(--accent-hover);
    background-color: var(--accent-hover);
    color: var(--bg-white);
}

.btn-request-primary-outline {
    background-color: transparent;
    color: var(--text-black);
}

.btn-request-primary-fill {
    background-color: var(--accent-purple);
    color: var(--bg-white);
}

.btn-request-secondary {
    border: 1px solid var(--bg-white);
}

.btn-request-secondary:hover {
    background-color: var(--bg-white);
    color: var(--accent-blue);
}

.btn-request-secondary-outline {
    background-color: transparent;
    color: var(--bg-white);
}

.btn-request-secondary-fill {
    background-color: var(--bg-white);
    color: var(--accent-blue);
}

.main-company-description-image {
    height: 100%;
}

.section-main {
    justify-content: space-between;
}

@media (max-width: 1024px) {
    .main-container {
        padding: 0 47px;
    }

    .main-company-description-image {
        max-width: 450px;
    }
}

@media (max-width: 992px) {
    .main-container {
        padding: 0 40px;
    }

    .main-heading-image {
        width: 400px;
    }

    .main-advantage {
        width: 100%;
    }

    .section-main {
        align-items: end;
    }

    .main-company-description-image {
        width: 100%;
        max-width: unset;
    }

    .main-blog-item-container {
        max-width: 540px;
    }
}