.nav-items-list {
    list-style-type: none;
}

.header .link {
    color: var(--text-grey);
}

.header-slick {
    background-color: var(--bg-white);
    transition: background-color .3s;
}

.header-container{
    height: 100px;
}

.font-heading {
    font-size: 40px
}

.nav-items-list li:not(:last-child) {
    margin-right: 40px;
}

.nav-logo {
    min-width: 637px;
}

.header .paragraph-main {
    font-size: 16px;
}

@media (max-width: 1024px) {
    .header-container{
        height: 82px;
    }
}