.nav-items-list{
    list-style-type: none;
}
.header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}
.header .link{
    color: #808080;
}
.font-heading{
    font-size: 40px
}
.nav-items-list li:not(:last-child){
    margin-right: 40px;
}
.nav-logo{
    min-width: 637px;
}
.header .paragraph-main{
    font-size: 16px;
}