.nav-items-list {
    list-style-type: none;
}

.header .link {
    color: var(--text-grey);
}

.header-slick {
    background-color: var(--bg-white);
    transition: background-color .3s;
}

.header-container {
    height: 100px;
}

.nav-items-list li:not(:last-child) {
    margin-right: 40px;
}

.nav-items-list-active li:not(:last-child) {
    margin-bottom: 40px;
}

.nav-items-list-active .link {
    color: var(--text-black);
}

.nav-logo {
    min-width: 637px;
}

.nav-items-list-active {
    background-color: var(--bg-white);
    width: 100vw;
    height: 100vh;
    padding: 80px 72px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    flex-direction: column;
}

.burger-menu-close {
    right: 50px;
    top: 35px;
}

@media (max-width: 1024px) {
    .header-container {
        height: 82px;
    }
}

@media (max-width: 992px) {
    .nav-logo {
        min-width: 100%;
    }
}

@media (max-width: 576px) {
    .header-container {
        height: 64px;
    }

    .nav-items-list-active li:not(:last-child) {
        margin-bottom: 25px;
    }

    .nav-items-list-active {
        padding: 56px 15px;
    }

    .nav-items-list-active .link-burger-menu{
        color: var(--accent-purple);
    }

    .burger-menu-close {
        right: 25px;
        top: 25px;
    }
}