.main-heading {
    margin: 100px auto 0;
}

.heading-container h1 {
    line-height: 80px;
    padding-top: 40px;
}

.heading-container-paragraph {
    color: var(--accent-blue);
}

.small-description-list {
    margin-top: 65px;
}

.list-item {
    list-style-type: none;
    padding-left: 40px;
}

.list-item:not(:last-child) {
    margin-bottom: 15px;
}

.list-item::before {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: var(--accent-blue);
    border-radius: 100%;
    left: 12px;
    top: 50%;
}

.round-main {
    z-index: -1;
    width: 778px;
}

.main-background {
    background-color: var(--bg-grey);
}

.services-switcher-button {
    background: none;
    border: none;
    color: var(--text-grey);
}

.services-switcher-button:not(:last-child)::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 32px;
    background-color: var(--accent-blue);
    right: 20px;
}

.services-switcher .active {
    color: var(--text-black);
}

.services-item-icon {
    fill: var(--accent-hover);
}

.services-item:hover {
    border: 1px solid var(--accent-purple);
}

.services-item:hover .services-paragraph {
    color: var(--accent-hover);
}

.services-item {
    border: 1px solid var(--outline-accent);
    border-radius: 4px;
    background: var(--bg-white);
    cursor: pointer;
}

.services-request {
    margin-top: 64px;
    padding-bottom: 85px;
}

.main-company-description {
    margin: 40px 0 65px 0;
}

.main-company-description-text {
    padding-left: 30px;
}

.main-company-description-list {
    max-width: 400px;
}

.main-company-description-list .list-item::before {
    top: 10px;
}

.main-stages-work-text {
    margin-left: 40px;
}

.main-stages-work-item {
    margin-top: 32px;
}

.main-stages-work-container {
    padding-bottom: 65px;
}

.main-blog-item {
    margin-bottom: 12px;
    border: 1px solid var(--outline-accent);
    border-radius: 4px;
    padding: 24px 16px;
}

.main-blog-item-text {
    margin-left: 20px;
}

.main-blog-item-list {
    margin: 40px 0;
}

.main-blog-item-text .link {
    color: var(--accent-purple);
}

.main-blog {
    margin-bottom: 65px;
}

.main-blog-item:hover .main-blog-item-text > p {
    color: var(--accent-purple);
}

.main-blog-item-date {
    color: var(--text-grey);
}

.feedback-modal {
    padding: 24px 40px;
    width: auto;
}

.feedback-modal .input-consultation-form {
    width: 450px;
}

.success-modal {
    padding: 48px 40px;
}

@media (max-width: 1024px) {
    .services-item {
        max-width: 350px;
    }
}