.price-container-img {
    z-index: -1;
    width: 800px;
}

.price-container .heading-container {
    max-width: 530px;
}

.services-price-category {
    min-width: 350px;
}

.services-price-category-item, .services-price-list {
    border: 1px solid var(--outline-accent);
    border-radius: 4px;
}

.services-price-list, .services-price-list-title {
    border-radius: 4px;
}

.services-price-list-item {
    align-items: center;
    border-bottom: 1px solid var(--outline-accent);
}

.services-price-list {
    margin-bottom: 40px;
}

.services-price-list-item-number {
    min-width: 143px;
}

.price-list {
    margin-bottom: 120px;
}

.price-container .main-heading {
    align-items: flex-end;
}

@media (max-width: 1024px) {
    .price-image {
        max-width: 415px;
    }

    .price-container-img {
        width: 400px;
        top: -170px;
    }
}

@media (max-width: 992px) {
    .price-container .heading-container {
        width: 100%;
        max-width: unset;
    }

    .services-price-category {
        max-width: 350px;
        min-width: unset;
    }

    .services-price-list-item {
        align-items: start;
        width: 450px;
    }

    .price-container-img {
        width: 400px;
        top: unset;
    }

    .price-list {
        max-width: 350px;
    }

    .price-image {
        position: absolute;
        bottom: 0;
    }

    .price-container .heading-container {
        padding-bottom: 360px;
    }
}

@media (max-width: 576px) {
    .price-image {
        max-width: 160px;
    }

    .price-container .heading-container {
        padding-bottom: 0;
        margin-top: 200px;
        background-color: var(--bg-grey);
    }

    .price-container .main-heading {
        align-items: center;
        height: 200px;
    }

    .price-list {
        margin-bottom: 24px;
    }

    .price-container .main-container {
        padding: 0;
    }

    .price-container .heading-container {
        padding: 0 15px;
    }

    .price-submit-application {
        margin-top: 370px;
    }
}