.price-container-img {
    z-index: -1;
    width: 800px;
}

.price-container .heading-container {
    max-width: 530px;
}

.services-price-category {
    min-width: 350px;
}

.services-price-category-item, .services-price-list {
    border: 1px solid var(--outline-accent);
    border-radius: 4px;
}

.services-price-list, .services-price-list-title {
    border-radius: 4px;
}

.services-price-list-item {
    align-items: center;
    border-bottom: 1px solid var(--outline-accent);
}

.services-price-list {
    margin-bottom: 40px;
}

.services-price-list-item-number {
    min-width: 143px;
}

.price-list {
    margin-bottom: 120px;
}

.price-container .main-heading {
    align-items: flex-end;
}

.price-submit-application {
    padding-top: 64px;
}

.price-submit-application .services-request {
    margin-top: 0;
}

.services-price-list-item-button {
    background-image: url("../images/icons/info.png");
    background-repeat: no-repeat;
    padding: 8px;
}

.services-price-list-item-info::after {
    content: url("../images/Polygon.png");
    position: absolute;
    bottom: -20px;
    left: 10px;
}

.services-price-list-item-info {
    width: 370px;
    height: fit-content;
    background-color: var(--bg-grey);
    padding: 16px;
    border-radius: 4px;
    left: -17px;
    bottom: 200%;
}

.services-price-category-item-button-active {
    transform: rotate(180deg) translateX(10px);
}

@media (max-width: 1024px) {
    .price-image {
        max-width: 415px;
    }

    .price-container-img {
        width: 400px;
        top: -170px;
    }

    .services-price-list-item-info {
        right: -15px;
        left: unset;
    }

    .services-price-list-item-info::after {
        right: 10px;
        left: unset;
    }
}

@media (max-width: 992px) {
    .price-container .heading-container {
        width: 100%;
        max-width: unset;
    }

    .services-price-category {
        max-width: 350px;
        min-width: unset;
    }

    .services-price-list-item {
        align-items: start;
        max-width: 450px;
    }

    .price-container-img {
        width: 400px;
        top: unset;
    }

    .price-list {
        max-width: 350px;
    }

    .price-image {
        position: absolute;
        bottom: 0;
    }

    .price-container .heading-container {
        padding-bottom: 360px;
    }

    .services-price-list-item-info {
        right: 0;
    }
}

@media (max-width: 576px) {
    .price-image {
        max-width: 160px;
    }

    .price-container .heading-container {
        padding-bottom: 0;
        margin-top: 200px;
        background-color: var(--bg-grey);
    }

    .price-container .main-heading {
        align-items: center;
        height: 200px;
    }

    .price-list {
        margin-bottom: 24px;
    }

    .price-container .main-container {
        padding: 0;
    }

    .price-container .heading-container {
        padding: 0 15px;
    }

    .price-submit-application {
        padding-top: 370px;
    }

    .services-price-category-item-button {
        background-image: url("../images/Vector(2).png");
        background-repeat: no-repeat;
    }

    /*.services-price-list-container{*/
    /*    max-width: 290px;*/
    /*}*/
    .services-price-list-item {
        width: 100%;
    }

    .services-price-list-item-info {
        width: 293px;
    }
}