.price-container .list-item {
    font-size: 20px;
}

.price-container-img {
    right: 0;
    top: 0;
    z-index: -1;
}

.price-container .heading-container {
    max-width: 530px;
}

.services-price-category {
    min-width: 350px;
}

.services-price-category-item, .services-price-list {
    border: 1px solid #CED6EC;
    border-radius: 4px;
}

.services-price-list, .services-price-list-title {
    border-radius: 4px;
}

.services-price-list-item {
    border-bottom: 1px solid #CED6EC;
}

.services-price-list {
    margin-bottom: 40px;
}

.services-price-list-item-number {
    min-width: 143px;
}