.services-list-item {
    border: 1px solid var(--outline-accent);
    border-radius: 4px;
    height: 100%;
}

.services-list-item:hover {
    border: 1px solid var(--accent-purple);
}

.services-list-item:hover .services-list-item-name {
    color: var(--accent-purple);
}

.services-list-item-text {
    color: var(--text-grey);
    margin-bottom: 40px;
}

.services-list-item-link {
    color: var(--accent-hover);
}

.services-list-container {
    margin: 12px 0;
}

.img-svg-stroke {
    stroke: #0B2052;
}

.img-svg-fill {
    fill: #0B2052;
}

.services-list-item:hover .img-svg-stroke {
    stroke: #690C52;
}

.services-list-item:hover .img-svg-fill {
    fill: #690C52;
}

@media (max-width: 1024px) {
    .services-list-container {
        max-width: 350px;
    }
}