.services-list-item {
    border: 1px solid var(--outline-accent);
    border-radius: 4px;
    margin: 12px 0;
}

.services-list-item:hover {
    border: 1px solid var(--accent-purple);
}

.services-list-item:hover .services-list-item-name{
    color: var(--accent-purple);
}

.services-list-item-text {
    font-size: 14px;
    color: var(--text-grey);
    margin-bottom: 40px;
}

.services-list-item-link {
    color: var(--accent-hover);
}

@media (max-width: 1024px) {
    .services-list-item{
        max-width: 350px;
    }

    .services-list-container{
        width: fit-content;
    }
}